*{
    font-family: 'PT Sans';
}

body{
    background: url(/img/confectionary.png);
}

h1, h2{
    font-family: 'PT Serif';
    display    : inline-block;
}

th{
    text-align: center;
}

th, td{
    vertical-align: middle !important;
}

table{
    margin    : 10px 0;
    background: rgba(255,255,255,0.5);
}

hr{
    margin: 0;
}

.parks-nav{
    display    : inline-block;
    margin     : 15px;
    margin-left: 50px;
    font-size  : 1.33em;   

    label{
        font-weight: normal;
        margin-left: 20px;
    }

    input{
        border    : none;
        background: none;
        color     : blue;
        padding   : 0 10px;
    }

    input:hover{
        text-decoration: underline;
    }

    input:focus, input:active{
        outline: 0;
    }

    input:disabled{
        color          : black;
        cursor         : not-allowed;
        text-decoration: none;
    }
}

.insert-form{

    display: block;
    
    h2{
        margin-top   : 10px;
        margin-bottom: 30px;
    }

    label{
        display  : inline-block;
        font-size: 1.25em;
    }

    input{
        margin: 5px;
    }

    p{
        font-weight: normal;
        margin-left: 25px;
        font-size  : 0.9em;
        color      : black;
        opacity    : 0.8;
    }

    textarea{
        display: block;
        width  : 400px;
        height : 100px;
    }
}

.invalid{
    box-shadow: 0 0 2px 2px red;
}


// overriding bootstrap stuff
.container{
    margin : 0;
    padding: 0;
}
